ul {
    list-style-type: circle;
}

ol {
    list-style-type: none;
}

/*  ícones dos marcadores de item de lista 
    ---  MAIS COMUNS ---
    nas listas desordenadas: 
    "circle"
    
    EXEMPLO:
    ul {
    list-style-type: circle;
    }                                   */