.borda {
    border-width: 5px;
    border-color: red;
    border-radius: 5px;

}

.dotted {border-style: dotted;}
.dashed {border-style: dashed;}
.solid {border-style: solid;}
.none {border-style: none;}
.hidden {border-style: hidden;}


/* -- ALGUNS ESTILOS DE BORDA -- */