body {
    padding: 0;
    margin: 0;

}
.container {
    background-color: red;
    padding: 5px;

}
.content {
    background-color: #ddd;
}


/* Padding de 5px adicionado ao container. 

Nesta condição, o background vermelho do container aparece e pode ser confundido com uma borda do conteúdo (content). Na verdade, o que aparenta ser uma borda vermelha em torno do conteúdo sinza é o padding do container. 

O conteúdo (content) está dentro do container. Então, o conteúdo do container é o content. Nesta situação, o padding é a distância da borda do container para o conteúdo do container (content).
  */