body {
    padding: 0;
    margin: 0;

}
.container {
    background-color: red;
    padding: 5px;
    border: 5px solid blue;
    margin: 10px;

}
.content {
    background-color: #ddd;
    border: 5px solid green;
    padding: 5px;
}


/* Determinar uma distância entre o texto do conteúdo (content) e a borda do conteúdo.
Uso do preenchimento (padding) na class "content". */