body {
    padding: 0;
    margin: 0;

}
.container {
    background-color: red;
    padding: 10px;
    border: 5px solid blue;
    margin: 10px;

}
.content {
    background-color: #ddd;
    outline: 5px solid green;
    padding: 5px;
}


/* Ainda sobre o elemento "outline" (contorno)

Antes, o padding do container e a borda do conteúdo (content) coincidiam em 5px. 
    ATUALIZAÇÃO:
    O padding do container foi alterado de 5px para 10px. 
Nesta situação, apesar da presença do outline (o contorno) na class "content", a cor vermelha do padding do container ganhou relevância novamente.

*/