body {
    padding: 0;
    margin: 0;

}
.square {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue;
}

.square2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

/* Classes "square" e "square2"

    "square2" está com 100px de largura e 100px de altura. Sua configuração é a mesma da class "square". A diferença é que o elemento implicado na div "square" passou a ocupar mais espaço na página.

    Foram acrescentados 10px no border. Isso implica 20px da borda somados aos 100px de largura e 100px de altura.
A figura da class "square" (o quadrado amarelo), com o acréscimo da borda, passou a ocupar 120px de largura (width) e 120px de altura (height).  */