.container {
    width: 50vmax;
    background: red;
    
}

.inside {
    width: 100px;
    background: blue;
    
}
/* ---- unidade vmax ---- 
A unidade "vmax" determina o tamanho de um elemento DE ACORDO COM O MAIOR VALOR identificado no viewport, entre a largura (width) e a altura (height) da tela do dispositivo.
OBS.: O viewport é a área onde seu website aparece.*/